<!-- Widget: Event Result -->
<Linkside className="widget card widget--sidebar widget-game-result">
	<div className="widget__title card__header">
		<h4>Game Overview</h4>
	</div>
	<div className="widget__content card__content">

		<!-- Game Score -->
		<div className="widget-game-result__section">

			<div className="widget-game-result__stack">
				<div className="widget-game-result__stack-item widget-game-result__stack-item--teams">
					<!-- Team 1 -->
					<div className="widget-game-result__stack-team widget-game-result__stack-team--first">
						<figure className="widget-game-result__stack-team-logo">
							<img src="{{esports.sp.event1.a.widget-event-overview.general.team1.logo}}" alt="{{esports.sp.event1.a.widget-event-overview.general.team1.logo}}">
						</figure>
						<div className="widget-game-result__stack-team-meta">
							<h6 className="widget-game-result__stack-team-name">{{esports.sp.event1.a.widget-event-overview.general.team1.name}}</h6>
							<span className="widget-game-result__stack-team-place">{{esports.sp.event1.a.widget-event-overview.general.team1.place}}</span>
						</div>
					</div>
					<!-- Team 1 / End -->

					<div className="widget-game-result__stack-result">
						<span className="widget-game-result__stack-result-team win">W</span>
						<span className="widget-game-result__stack-result-team">L</span>
					</div>

					<!-- Team 2 -->
					<div className="widget-game-result__stack-team widget-game-result__stack-team--second">
						<figure className="widget-game-result__stack-team-logo">
							<img src="{{esports.sp.event1.a.widget-event-overview.general.team2.logo}}" alt="{{esports.sp.event1.a.widget-event-overview.general.team2.logo}}">
						</figure>
						<div className="widget-game-result__stack-team-meta">
							<h6 className="widget-game-result__stack-team-name">{{esports.sp.event1.a.widget-event-overview.general.team2.name}}</h6>
							<span className="widget-game-result__stack-team-place">{{esports.sp.event1.a.widget-event-overview.general.team2.place}}</span>
						</div>
					</div>
					<!-- Team 2 / End -->
				</div>

				{{#each esports.sp.event1.a.widget-event-overview.general.info}}
				<div className="widget-game-result__stack-item">
					<div className="widget-game-result__stack-label">{{label}}:</div>
					<div className="widget-game-result__stack-value">{{value}}</div>
				</div>
				{{/each}}
			</div>

		</div>
		<!-- Game Score / End -->

		<!-- Game Statistics -->
		<div className="widget-game-result__section">
			<header className="widget-game-result__subheader card__subheader card__subheader--sm card__subheader--nomargins">
				<h5 className="widget-game-result__subtitle">Game Statistics</h5>
			</header>
			<div className="widget-game-result__section-inner">

				<!-- Progress Stats Table -->
				<table className="progress-table progress-table--sm-space">
					<tbody>

						{{#each esports.sp.event1.a.widget-event-overview.stats}}
						<tr>
							<td className="progress-table__progress-label {{#if team1.highlight}}progress-table__progress-label--highlight{{/if}}">{{team1.value}}</td>
							<td className="progress-table__progress-bar progress-table__progress-bar--first">
								<div className="progress progress--lines">
									<div className="progress__bar" style="width: {{team1.pct}}%;" role="progressbar" aria-valuenow="{{team1.value}}" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</td>
							<td className="progress-table__title">{{label}}</td>
							<td className="progress-table__progress-bar progress-table__progress-bar--second">
								<div className="progress progress--lines">
									<div className="progress__bar progress__bar--info" style="width: {{team2.pct}}%;" role="progressbar" aria-valuenow="{{team2.value}}" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</td>
							<td className="progress-table__progress-label {{#if team2.highlight}}progress-table__progress-label--highlight{{/if}}">{{team2.value}}</td>
						</tr>
						{{/each}}

					</tbody>
				</table>
				<!-- Progress Stats Table / End -->

			</div>
		</div>
		<!-- Game Statistics / End -->

		<!-- Additional Stats -->
		<div className="widget-game-result__section">
			<header className="widget-game-result__subheader card__subheader card__subheader--sm card__subheader--nomargins">
				<h5 className="widget-game-result__subtitle">Additional Stats</h5>
			</header>
			<div className="widget-game-result__section-inner">

				<!-- Circular Bars -->
				<ul className="widget-game-result__stats-circular-bars widget-game-result__stats-circular-bars--cols-4 list-unstyled">

					{{#each esports.sp.event1.a.widget-event-overview.additional-stats}}
					<li className="widget-game-result__stats-circular-item">
						<div className="widget-game-result__stats-circular-bar">
							<div className="circular circular--size-40">
								<div
									className="circular__bar"
									data-percent="{{pct}}"
									data-track-color="{{color1}}"
									data-bar-color="{{color2}}"
									data-toggle="tooltip"
									data-placement="top"
									data-html="true"
									title="<div className='alc-circular-tooltip-stats'><span className='alc-circular-tooltip-stat__circle' style='background-color: {{color1}};'></span><span className='alc-circular-tooltip-stat__value'>{{value1}}</span> <span className='alc-circular-tooltip-stat__label'>{{label}} {{sublabel}}</span></div><div className='alc-circular-tooltip-stats'><span className='alc-circular-tooltip-stat__circle' style='background-color: {{color2}};'></span><span className='alc-circular-tooltip-stat__value'>{{value2}}</span> <span className='alc-circular-tooltip-stat__label'>{{label}} {{sublabel}}</span></div>"
									data-template="<div className='tooltip tooltip--card tooltip--card-sm' role='tooltip'><div className='tooltip-inner'></div></div>">
									<svg role="img" className="df-icon df-icon--{{icon}}">
										<use xlink:href="{{../root}}assets/images/esports/icons-esports.svg#{{icon}}"/>
									</svg>
								</div>
							</div>
						</div>
						<div className="widget-game-result__stats-meta">
							<span className="widget-game-result__stats-value">{{label}}</span>
							<span className="widget-game-result__stats-label">{{sublabel}}</span>
						</div>
					</li>
					{{/each}}

				</ul>
				<!-- Circular Bars / End -->

			</div>
		</div>
		<!-- Additional Stats / End -->

		<!-- Event Leaders -->
		<div className="widget-game-result__section">
			<header className="widget-game-result__subheader card__subheader card__subheader--sm card__subheader--nomargins">
				<h5 className="widget-game-result__subtitle">Top 3 Damage Leaders</h5>
			</header>
			<div className="widget-game-result__section-inner-alt">

				<!-- Event Leaders List -->
				<ul className="widget-game-result__players list-unstyled">

					{{#each esports.sp.event1.a.widget-event-overview.leaders}}
					<li className="widget-game-result__player">
						<div className="widget-game-result__player-info">
							<figure className="widget-game-result__player-img {{#ifequal team 2}}widget-game-result__player-img--color-alt{{/ifequal}}">
								<img src="{{player.img}}" alt="{{player.name}}">
							</figure>
							<figure className="widget-game-result__player-character-img {{#ifequal team 2}}widget-game-result__player-character-img--color-alt{{/ifequal}}">
								<img src="{{character.img}}" alt="{{character.name}}">
							</figure>
							<div className="widget-game-result__player-meta">
								<h6 className="widget-game-result__player-nickname">{{player.name}}</h6>
								<div className="widget-game-result__player-character">{{character.name}}</div>
							</div>
						</div>
						<div className="widget-game-result__player-stats">
							<!-- Progress Bar -->
							<div className="progress-stats progress-stats--top-labels">
								<div className="progress__label">{{stats.value}}</div>
								<div className="progress">
									<div className="progress__bar progress__bar--blue-pink" style="width: {{stats.pct}}%;" role="progressbar" aria-valuenow="{{stats.pct}}" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
							<!-- Progress Bar / End -->
						</div>
					</li>
					{{/each}}

				</ul>
				<!-- Event Leaders List / End -->

			</div>
		</div>
		<!-- Event Leaders / End -->

	</div>
</Linkside>
<!-- Widget: Event Result / End -->
