<!-- Widget: Trending News -->
<Linkside className="widget widget--sidebar card widget-tabbed">
	<div className="widget__title card__header">
		<h4>Top Trending News</h4>
	</div>
	<div className="widget__content card__content">
		<div className="widget-tabbed__tabs">
			<!-- Widget Tabs -->
			<ul className="nav nav-tabs nav-justified widget-tabbed__nav" role="tablist">
				<li className="nav-item"><Link href="#widget-tabbed-newest" className="nav-link active" aria-controls="widget-tabbed-newest" role="tab" data-toggle="tab">Newest</Link></li>
				<li className="nav-item"><Link href="#widget-tabbed-commented" className="nav-link" aria-controls="widget-tabbed-commented" role="tab" data-toggle="tab">Most Commented</Link></li>
				<li className="nav-item"><Link href="#widget-tabbed-popular" className="nav-link" aria-controls="widget-tabbed-popular" role="tab" data-toggle="tab">Popular</Link></li>
			</ul>

			<!-- Widget Tab panes -->
			<div className="tab-content widget-tabbed__tab-content">
				<!-- Newest -->
				<div role="tabpanel" className="tab-pane fade show active" id="widget-tabbed-newest">
					<ul className="posts posts--simple-list">

						{{#each basketball.posts.widget-tabbed.newest}}
						<li className="posts__item posts__item--{{category.class}}">
							<div className="posts__inner">
								<div className="posts__cat">
									<span className="label posts__cat-label">{{category.name}}</span>
								</div>
								<h6 className="posts__title"><Link href="/" >{{title}}</Link></h6>
								<time datetime="2016-08-23" className="posts__date">{{date}}</time>
								<div className="posts__excerpt">
									{{excerpt}}
								</div>
							</div>
						</li>
						{{/each}}

					</ul>
				</div>
				<!-- Commented -->
				<div role="tabpanel" className="tab-pane fade" id="widget-tabbed-commented">
					<ul className="posts posts--simple-list">

						{{#each basketball.posts.widget-tabbed.commented}}
						<li className="posts__item posts__item--{{category.class}}">
							<div className="posts__inner">
								<div className="posts__cat">
									<span className="label posts__cat-label">{{category.name}}</span>
								</div>
								<h6 className="posts__title"><Link href="/" >{{title}}</Link></h6>
								<time datetime="2016-08-23" className="posts__date">{{date}}</time>
								<div className="posts__excerpt">
									{{excerpt}}
								</div>
							</div>
						</li>
						{{/each}}

					</ul>
				</div>
				<!-- Popular -->
				<div role="tabpanel" className="tab-pane fade" id="widget-tabbed-popular">
					<ul className="posts posts--simple-list">

						{{#each basketball.posts.widget-tabbed.popular}}
						<li className="posts__item posts__item--{{category.class}}">
							<div className="posts__inner">
								<div className="posts__cat">
									<span className="label posts__cat-label">{{category.name}}</span>
								</div>
								<h6 className="posts__title"><Link href="/" >{{title}}</Link></h6>
								<time datetime="2016-08-23" className="posts__date">{{date}}</time>
								<div className="posts__excerpt">
									{{excerpt}}
								</div>
							</div>
						</li>
						{{/each}}

					</ul>
				</div>
			</div>

		</div>
	</div>
</Linkside>
<!-- Widget: Trending News / End -->
