<div className="alc-embeded-player alc-embeded-player--bg-color-dark {{class}}" data-id="{{id}}" data-controls="false" data-provider="{{#if provider}}{{provider}}{{else}}youtube{{/if}}" {{#if thumbnail}}data-thumbnail="{{thumbnail}}"{{/if}} data-easy-embed>
	<div className="alc-embeded-player__overlay">
		<div className="alc-embeded-player__inner">
			<h3 className="alc-embeded-player__title">{{title}}</h3>
			<time datetime="2017-08-28" className="alc-embeded-player__date">{{date}}</time>
		</div>
	</div>
</div>
