---
layout: esports
page-title: Next Matches
page-heading: "Next <span className=\"highlight\">Matches</span>"
megamenu: v3

breadcrumbs: [
	{
		label: "Teams",
		link: "#"
	},
	{
		label: "L.O. Heroes",
		link: "#"
	},
	{
		label: "Next Matches"
	}
]
---

{{> _esports_team-filter }}

<!-- Content
================================================== -->
<div className="site-content">
	<div className="container">

		<!-- Schedule & Tickets -->
		<div className="card card--has-table">
			<div className="card__header">
				<h4>Next Matches</h4>
			</div>
			<div className="card__content">
				<div className="table-responsive">
					<table className="table table-hover team-schedule team-schedule--full">
						<thead>
							<tr>
								<th className="team-schedule__date">Date</th>
								<th className="team-schedule__versus">Versus</th>
								<th className="team-schedule__compet">Competition</th>
								<th className="team-schedule__instance">Instance</th>
								<th className="team-schedule__time">Time</th>
								<th className="team-schedule__venue">Venue</th>
								<th className="team-schedule__prize">Prize</th>
								<th className="team-schedule__tickets">Tickets</th>
							</tr>
						</thead>
						<tbody>
							{{#each esports.sp.team.schedule}}
							<tr>
								<td className="team-schedule__date">{{date}}</td>
								<td className="team-schedule__versus">
									<div className="team-meta">
										<figure className="team-meta__logo">
											<img src="{{../root}}assets/images/samples/logos/{{team.logo}}" alt="">
										</figure>
										<div className="team-meta__info">
											<h6 className="team-meta__name">{{team.name}}</h6>
											<span className="team-meta__place">{{team.place}}</span>
										</div>
									</div>
								</td>
								<td className="team-schedule__compet">{{league}}</td>
								<td className="team-schedule__instance highlight">{{instance}}</td>
								<td className="team-schedule__time highlight">{{time}}</td>
								<td className="team-schedule__venue highlight">{{venue}}</td>
								<td className="team-schedule__prize">{{prize}}</td>
								<td className="team-schedule__tickets">
									<Link href="/"  className="btn btn-xs btn-default-alt btn-block {{#unless availability}}disabled{{/unless}}">
										{{#if availability}}Buy Match Tickets{{else}}Sold Out{{/if}}
									</Link>
								</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- Schedule & Tickets / End -->

		{{> _esports_team-pagination custom-className="justify-content-center" }}

	</div>
</div>

<!-- Content / End -->
